{% extends "base.html" %}
{% block title %}部门人员概览{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    h1{
        text-align: center;
        margin-right:10%;
    }
    #curr_user{
        float: right;
        margin-top:-25px;
        margin-right: 200px;
        font-size: large;
        font-family: MicrosoftYaHei;
    }
    span{
        font-size: larger;
    }
    #download{
        margin-left:800px;
    }
    #alter{
        margin-top:-250px;
        margin-right:800px;
        line-height:41px;
    }
</style>
{% endblock %}
{% block content %}
<div id="h1"><h1>各部门人员情况一览表</h1></div>
<div id="curr_user"><span><a href="{{ url_for('user.profile')+'?'+request.full_path.split('?')[1] }}">{{ curr_user.username }}</a></span></div>
<div id="table">
 {%- for d,u in tables.items() %}
    <span id="d">{{d}}</span>
    <table cellpadding="10">
        {%- for e in u %}
        <tr>
            {%- for k,v in e.items() %}
                {% if v is number and v <10 %}
                    <td><input type="text" value="{{v}}" style="width:15px;"></td>
                {% else %}
                    <td>{{v}}</td>
                {% endif %}
            {%- endfor %}
        </tr>
        {%- endfor %}
    </table>
    <br>
    {%- endfor %}
    <div id="alter"></div>
</div>
<script type="text/javascript">
    tables=[];
    rows=[];
    vv=[];
    tbodys=document.getElementsByTagName('tbody');
    for (i=0;i<tbodys.length;i++)
    {
        rows[i]=tbodys[i].childElementCount;
        tables[i]=document.createElement("table");
    }

    br=document.createElement("br");
    for (t=0;t<tables.length;t++)
    {
        for (r=0;r<rows[t];r++)
        {
            rn=tables[t].insertRow(r);
            cn=rn.insertCell(0);
            if ($("#d")[0].innerHTML!="未选定部门"){
                cn.innerHTML="<a>修改权限</a>";
            }
        }
    }
    d=document.getElementById("alter");
    for (i=0;i<tables.length;i++)
    {
        d.appendChild(tables[i]);
    }
    d.style.float="right";
    for (i=0;i<tables.length-1;i++)
    {
        tables[i].insertAdjacentElement("afterend",br);
    }
    r=$("tr")
    v=$("input")
    a=$("#table a")
    uids=[];
    for (i=0;i<r.length/2;i++)
    {
        uids[i]=r[i].cells[0].textContent;
        if(v.length>0){
            v[i].setAttribute('id',uids[i]);
        }
    }
    for (i=0;i<a.length;i++)
    {
        a[i].onclick=getV;
    }

    function getV(){
        for (i=0;i<v.length;i++){
            //if (vv.length==0){
                vv[i]=$('#'+v[i].id)[0].value;
            //}
            a[i].setAttribute('href','/admin/alter_privilege'+window.location.search+'&uid='+uids[i]+'&rid='+vv[i]);
        }

    }


</script>
{% endblock %}