{% extends "base.html" %}
{% block title %}部门人员概览{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    h1{
        text-align: center;
        margin-right:10%;
    }
    #curr_user{
        float: right;
        margin-top:-25px;
        margin-right: 200px;
        font-size: large;
        font-family: MicrosoftYaHei;
    }
    span{
        font-size: larger;
    }
    #download{
        margin-left:800px;
    }
</style>
{% endblock %}
{% block content %}
<div id="h1"><h1>各部门人员情况一览表</h1></div>
<div id="curr_user"><span><a href="{{ url_for('user.profile')+'?'+request.full_path.split('?')[1] }}">{{ curr_user.username }}</a></span></div>
<div id="table">
 {%- for d,u in tables.items() %}
    <span>{{d}}</span>
    <table cellpadding="10">
        {%- for e in u %}
        <tr>
            {%- for k,v in e.items() %}
            <td>{{v}}</td>
            {%- endfor %}
        </tr>
        {%- endfor %}
    </table>
<!--    <table>-->
<!--        <tr>-->
<!--            <td>修改</td>-->
<!--        </tr>-->
<!--    </table>-->
    <br>
    {%- endfor %}
</div>
{% endblock %}