{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
		form{
			width: 460px;
			height: 400px;
			background: white;
			position: absolute;
			top: 26.76%;/*289px;*/
			right: 15.73%;/*302px;*/
			border-radius: 4px;
		}
		form .loginTopText{
			font-size: 28px;
			text-align: center;
			line-height: 28px;
			font-family: "SimHei";
			margin-top: 50px;
			height: 28px;
		}
		form .loginUserText{
			font-size: 15px;
			line-height: 15px;
			height: 18px;
			text-indent: 52px;
			margin-top: 55px;
		}
		form .loginUserNode{
			height: 46px;
			width: 299px;
			margin-top: -34px;
			margin-left: 108px;
			border: 2px solid rgb(218, 218, 218);
			border-radius: 3px;
			background: url(/static/user.png) no-repeat 16px 12px;
		}
		form .useridInput{
			height: 96%;
			float: left;
			margin-left: 58px;
			border: none;
			outline: none;
			font-size: 18px;
		}

		form .loginPasswordText{
			font-size: 15px;
			line-height: 15px;
			height: 18px;
			text-indent: 52px;
			margin-top: 55px;
		}
		form .loginPasswordNode{
			height: 46px;
			width: 299px;
			margin-top: -34px;
			margin-left: 108px;
			border: 2px solid rgb(218, 218, 218);
			border-radius: 3px;
			background: url(/static/pwd.png) no-repeat 16px 12px;
		}
		form .passwordInput{
			height: 96%;
			float: left;
			margin-left: 58px;
			border: none;
			outline: none;
			font-size: 18px;
		}

		form .loginVerifyText{
			font-size: 15px;
			line-height: 15px;
			height: 18px;
			text-indent: 52px;
			margin-top: 55px;
		}
		form .loginVerifyNode{
			height: 46px;
			width: 152px;
			margin-top: -34px;
			margin-left: 108px;
			border: 2px solid rgb(218, 218, 218);
			border-radius: 3px;
		}
		form .verifyInput{
			height: 96%;
			width: 148px;
			float: left;
			border: none;
			outline: none;
			font-size: 18px;
		}
		form .loginVerifyNode .verifyCode{
			width: 138px;
			height: 46px;
			border: 2px solid rgb(218, 218, 218);
			border-radius: 3px;
			margin-left: 160px;
			margin-top: -2px;
		}
		form .changeVerify{
			text-indent: 293px;
			margin-top: 12px;
			font-size: 15px;
			line-height: 17px;
			height: 17px;
			color: rgb(21, 129, 215);
		}
		form .button{
			width: 362px;
			height: 51px;
			margin: 0 auto;
			line-height: 53px;
			text-align: center;
			font-size: 20px;
			color: white;
			background: url(/static/bg_button.png) repeat no-repeat;
			border-radius: 8px;
			margin-top: 36px;
			margin-left:50px;
			border: 1px solid rgb(76, 100, 136);
			cursor: pointer;
		}
		form .attention{
		    float:right;
		    margin-right:50px;
		    margin-top:10px;
		}
		a{
		    color: silver;
		}
		a:link{
		    color:blue;
		}
		a:visited{
		    color:gray;
		}
		a:hover{
		    color:red;
		}
		a:active{
		    color:yellow;
		}

</style>
{% endblock %}
{% block content %}
<form class="loginNode" method="post">
    <div class="loginTopText"><strong>欢迎登录</strong></div>
    <div class="loginUserText">工&nbsp&nbsp&nbsp号</div>
    <div class="loginUserNode"><input type="text" name="userid" class="useridInput" placeholder="请输入工号"/></div>
    <div class="loginPasswordText">密&nbsp&nbsp&nbsp码</div>
    <div class="loginPasswordNode"><input type="password" name="password" class="passwordInput" placeholder="请输入密码"></div>
    <input class="button" type="submit" value="登录"/>
    <div class="attention"><a href={{url_for('user.sign_show')}}>还没注册？</a></div>
</form>
{% endblock %}