{% extends "base.html" %}
{% block title %}注册{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
		form{
			width: 460px;
			height: 400px;
			background: white;
			position: absolute;
			top: 26.76%;/*289px;*/
			right: 15.73%;/*302px;*/
			border-radius: 4px;
			box-shadow: 10px 10px grey;
		}
		form .signupTopText{
			font-size: 26px;
			text-align: center;
			line-height: 30px;
			font-family: "STXingkai";
			margin-top: 30px;
			margin-bottom:70px;
			height: 28px;
		}
		form .signupIDText{
			font-size: 15px;
			line-height: 12px;
			height: 18px;
			text-indent: 52px;
			margin-top: 55px;
		}
		form .signupIDNode{
			height: 40px;
			width: 299px;
			margin-top: -34px;
			margin-left: 108px;
			border: 2px solid rgb(218, 218, 218);
			border-radius: 3px;
			background: url(/static/pepsi.png) no-repeat;
			background-size:contain;
		}

		form .signupNameNode{
			height: 40px;
			width: 299px;
			margin-top: -34px;
			margin-left: 108px;
			border: 2px solid rgb(218, 218, 218);
			border-radius: 3px;
			background: url(/static/user.png) no-repeat 16px 12px;
		}


		form .useridInput{
			height: 96%;
			float: left;
			margin-left: 58px;
			border: none;
			outline: none;
			font-size: 18px;
		}

		form .signupPasswordText{
			font-size: 15px;
			line-height: 12px;
			height: 18px;
			text-indent: 52px;
			margin-top: 55px;
		}
		form .signupPasswordNode{
			height: 40px;
			width: 299px;
			margin-top: -34px;
			margin-left: 108px;
			border: 2px solid rgb(218, 218, 218);
			border-radius: 3px;
			background: url(/static/pwd.png) no-repeat 16px 12px;
		}
		form .passwordInput{
			height: 96%;
			float: left;
			margin-left: 58px;
			border: none;
			outline: none;
			font-size: 18px;
		}

		form .signupVerifyText{
			font-size: 15px;
			line-height: 12px;
			height: 18px;
			text-indent: 52px;
			margin-top: 55px;
		}
		form .signupVerifyNode{
			height: 40px;
			width: 152px;
			margin-top: -34px;
			margin-left: 108px;
			border: 2px solid rgb(218, 218, 218);
			border-radius: 3px;
		}
		form .verifyInput{
			height: 96%;
			width: 148px;
			float: left;
			border: none;
			outline: none;
			font-size: 18px;
		}
		form .signupVerifyNode .verifyCode{
			width: 138px;
			height: 46px;
			border: 2px solid rgb(218, 218, 218);
			border-radius: 3px;
			margin-left: 160px;
			margin-top: -2px;
		}
		form .changeVerify{
			text-indent: 293px;
			margin-top: 12px;
			font-size: 15px;
			line-height: 17px;
			height: 17px;
			color: rgb(21, 129, 215);
		}
		form .button{
			width: 300px;
			height: 50px;
			margin: 0 auto;
			line-height: 53px;
			text-align: center;
			font-size: 20px;
			color: white;
			background: url(/static/bg_button.png) repeat no-repeat;
			border-radius: 8px;
			margin-top: 20px;
			margin-left:110px;
			border: 1px solid rgb(76, 100, 136);
			cursor: pointer;
		}
</style>
{% endblock %}
{% block content %}
<form method="post">
    <div class="signupTopText"><strong>欢迎注册<br>百事可乐资产系统</strong></div>
    <div class="signupIDText">工&nbsp&nbsp&nbsp号</div>
    <div class="signupIDNode"><input type="text" id="userid" class="useridInput" placeholder="请输入工号"/></div>
    <div class="signupIDText"><label for="username">姓&nbsp&nbsp&nbsp名</label></div>
    <div class="signupNameNode"><input type="text" id="username" name="username" class="useridInput" placeholder="请输入姓名"></div>
    <div class="signupPasswordText">密&nbsp&nbsp&nbsp码</div>
    <div class="signupPasswordNode"><input type="password" name="password" class="passwordInput" placeholder="请输入密码"></div>

    <input class="button" type="submit" value="注册"/>
</form>
<script type="text/javascript">
$(function(){
    $("#userid").blur(function(){
        $.ajax({
            url:'/user/name?userid='+$("#userid")[0].value,
            success:function(data)
            {
                if (data.length>0)
                {
                    $('#username')[0].value=data;
                    $('#username')[0].disabled=true;
                }
            }
        });
    })
})
</script>
{% endblock %}