{% extends "base.html" %}
{% block title %}个人中心{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    div{
        text-align:center;
        margin:200px;
    }
</style>
{% endblock %}
{% block content %}
    <div>
        <form method="post">
            <label for="original">原密码</label><input type="text" id="original" name="original_password">
            <label for="new">新密码</label><input type="text" id="new" name="new_password">
            <input type="submit" value="确定">
        </form>
    </div>
{% endblock %}